
}
.shopping-cart {
    margin-top: 20px;
}
.in{
    
    
    background-color: lightgrey;
}
.tek{


}
.law7{
   
}
.comp{
    display: flex;
}

.moins{

}
.cp{
    margin-top: 7%;
}
.plus{
    margin-right: 500px;
}
.hello{
    display: flex;
}
.alertt{
    display: none;
}